<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round" 
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeCall"
        tools:targetApi="31">
        <activity android:name=".presentation.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.MainActivity" android:exported="false"/>
        <activity android:name=".presentation.tg.TelegramDetailActivity" />
        <activity android:name=".presentation.ViberDetailActivity" />
        <activity android:name=".presentation.WhatsappDetailActivity" />
        <activity android:name=".presentation.tg.call.TelegramCallActivity" />
        <activity android:name=".presentation.tg.call.TelegramCallAcceptActivity" />
        <activity android:name=".presentation.tg.video.TelegramVideoCallAcceptActivity" />
        <activity android:name=".presentation.tg.video.TelegramVideoCallActivity" />
    </application>

</manifest>